/* ==========================================================================
   Base elements
   ========================================================================== */

html {
  @include fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size);
}

body {
  background: $background-color;
  color: $text-color;
  border-top: solid 0.25em $nav-background-color;
}

blockquote,
q {

  footer {
    font-size: 80%;
    font-style: normal;

    &::before {
      padding-right: 0.25rem;
      content: "\2014";
    }
  }
}

code,
kbd,
samp,
pre {
  font-family: $monospace-font-family;
}

kbd {
  display: inline-block;
  margin: 0 0.125em;
  padding: 0.125em 0.5em;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  background-color: rgb(247, 247, 247);
  font-size: 85%;
  text-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 0 0 2px #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 0 0 2px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 18px;
  margin-bottom: 6px;
  font-family: $headline-font-family;
  text-rendering: optimizeLegibility; /* enable common ligatures and kerning */
}

h1 {
  @include fluid-type($min-vw, $max-vw, $h1-min, $h1-max);
}

h2 {
  @include fluid-type($min-vw, $max-vw, $h2-min, $h2-max);
}

h3 {
  @include fluid-type($min-vw, $max-vw, $h3-min, $h3-max);
}

h4 {
  @include fluid-type($min-vw, $max-vw, $h4-min, $h4-max);
}

h5 {
  @include fluid-type($min-vw, $max-vw, $h5-min, $h5-max);
}

h6 {
  @include fluid-type($min-vw, $max-vw, $h6-min, $h6-max);
}

dt {
  font-weight: bold;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

dd {
  margin: 0;
}

pre {
  @include fluid-type($min-vw, $max-vw, 12px, 14px);
}

figcaption {
  margin: 0.5rem 0;
  font-size: 80%;
}

a {
  color: $accent-color;
  -webkit-transition: $global-transition;
  transition: $global-transition;

  &:hover {
    color: shade($accent-color, 25%);
  }
}

cite.symbol { font-size: 1.2em; }

cite { font-size: .8em; }
cite.comment:before { content: '('; }
cite.comment:after { content: ')'; }
cite.ref:before { content: 'cf. '; }
cite.kw { font-weight: bold; }

cite.even { color: #2E64FE; }
cite.even:before { content: 'even'; }

cite.arrow:before { content: '\2799'; }

cite.odd { color: #FA5858; }
cite.odd:before { content: 'odd'; }

cite.math_ge:before { content: '\2A7E'; }
cite.math_le:before { content: '\2A7D'; }
cite.math_gt:before { content: '\003E'; }
cite.math_lt:before { content: '\003C'; }

cite.step { font-size: 1.1em; font-style:oblique; font-weight: bold; color: #9A2EFE; }

cite.refeq { font-style:oblique; font-weight: bold; color: #00FF00; }
cite.refeq:before { content: '\00a0\00a0\00a0\00a0\00a0('; }
cite.refeq:after { content: ')'; }

span.digit { 
  padding: 5px 10px 5px 10px;
  border-radius: 25px; 
  background-color: $text-color;
  color: white;
  display: inline;
  font-weight: bold;
  font-size: .9em;
}

span.digit0:before { content: '0'; }
span.digit1:before { content: '1'; }
span.digit2:before { content: '2'; }
span.digit3:before { content: '3'; }
span.digit4:before { content: '4'; }
span.digit5:before { content: '5'; }
span.digit6:before { content: '6'; }
span.digit7:before { content: '7'; }
span.digit8:before { content: '8'; }
span.digit9:before { content: '9'; }



span.tip { 
  padding: 7px 15px 7px 15px; 
  border: 1px solid rgb(46, 134, 193);
  border-radius: 3px; 
  background-color: rgb(133, 193, 233);
  clear:both;
  display: block;
}

span.warn { 
  padding: 7px 15px 7px 15px; 
  border: 1px solid rgb(235, 152, 78); 
  border-radius: 3px; 
  background-color: rgb(240, 178, 122);
  clear:both;
  display: block;
}

span.do { 
  padding: 7px 15px 7px 15px; 
  border: 1px solid rgb(130, 224, 170); 
  border-radius: 3px; 
  background-color: rgb(171, 235, 198);
  clear:both;
  display: block;
}

span.dont { 
  padding: 7px 15px 7px 15px; 
  border: 1px solid rgb(241, 148, 138); 
  border-radius: 3px; 
  background-color: rgb(245, 183, 177);
  clear:both;
  display: block;
}


