<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/france-blog">France life blog</a></li>
	        		<li><a href="/technology-blog">Technology blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:neonira@gmail.com">email</a></li>
	        		<li><a href="https://github.com/neonira">github.com/neonira</a></li>
				</ul>
			</footer>
		</body>
	</html>
  
